.App {
  margin: 0;
  padding: 0;
  /* background-color: green; */
}

/* FONT */

.font-md {
  font-size: 1.3rem;
  font-weight: 500;
}

/* BUTTONS */

.btn-clear {
  background: transparent;
  border: none;
}

/* Themes */

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

/* NAVBAR */

ul {
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.nav-links {
  padding: 2rem;
  margin: 2rem;
  display: flex;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 1rem;
  text-decoration: none;
  color: inherit;
}

.nav-theme-icon {
  /* padding: 2rem; */
  font-size: 2rem;
}

/* MAIN */
.container {
  margin: 0 auto;
  padding: 5rem;
  width: 80%;
  /* background-color: blue; */
}

/* New */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}
